<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rest Training</title>
</head>
<body>
    <img src="http://i3.kym-cdn.com/photos/images/newsfeed/000/839/199/8a9.jpg" width="400" heigth ="267" />
    <br />
    <br/>
    <a href="/api">Go to API</a>
</body>
</html>
